.colors{
    width: 100vw;
    height: 100vh;
    text-align: center;
}



// #nav-container li #graylink:hover,
//   #nav-container li #graylink:active {
//     color: #FDB913;
//   }
  
  
// .nav-links{
//     hover{
//         color:#FDB913;
//     }
// }



// .textcontainers{
//     padding-top: 45vh;
// }

#portfolio{
    background-color:$gray;
}

// #resume{
//     background-color:$red;
// }

// #aboutme{
//     background-color:$blue;
// }



#filters{
    height: 100vh;
    // position: absolute;
    left: 0;
    top: 0;

    ul {
        background-color: $white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 100%;
        
        li {
            cursor: pointer;
            height: 45px;
            margin-bottom: 5px;
            width: 225px;

            #filter-button{
                display: flex;
                flex-direction: row;
                text-align: left;
            }
        }
    }
    
    // #filter-options{
    //     display: flex;
    // }
}










// #content {
//     background-color: $teal;
//     height: 100vh;
//     position: relative;
//     width: 100vw;
    
//     #select-container {
//         background-color: $white;
//         left: 0;
//         overflow: hidden;
//         padding: 20px;
//         position: fixed;
//         top: 40%;
//         width: 200px;
        
//         #select-top {
            
//             div {
//                 display: flex;
//                 justify-content: center;
                
//                 button {
//                     cursor: pointer;
//                     margin: 10px 5px;
//                     padding: 10px;
//                 }

//                 .selected {
//                     background-color: $orange;
//                     color: $white;
//                 }
//             }
//         }

//         #select-bottom {
//             height: 40px;
//             overflow: hidden;
//             position: relative;
            
//             ul {
//                 background-color: $white;
//                 display: flex;
//                 height: 100%;
//                 justify-content: space-between;
//                 width: 100%;
                
//                 li {
//                     cursor: pointer;
//                     height: 30px;
//                     margin-bottom: 10px;
//                     width: 30px;
//                 }
//             }

//             #colors {
//                 height: 100%;
//                 left: 0;
//                 position: absolute;
//                 top: 0;
//                 width: 100%;
//                 z-index: 100;
//             }

//             #patterns {
//                 left: 0;
//                 position: absolute;
//                 top: 0;
//                 width: 100%;
                
//                 li {
//                     // this is so you can see the pattern boxes
//                     background-color: yellow;
//                 }
//             }
//         }
//     }
// }